[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "*"
opencv-contrib-python = "*"
opencv-python = "==4.5.3.56"
scipy = "*"
python-osc = "*"

[dev-packages]

[requires]
python_version = "3.9"
